body {
    background: linear-gradient(indigo, blue);
    background-repeat: no-repeat;
    background-image: url("/res/images/background.jpg");
}

.container-header {
    background-color: indigo;
}

.container-browse {
    text-align: center;
    text-decoration: none;
}

.c-nav {
    text-decoration: none;
}

.hover-own {
    text-decoration: none;
    
    color: white;

    font-weight: bold;

    background:
      linear-gradient(-45deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
      linear-gradient(-45deg, #0000 40%, #000 0 60%, #0000 0) right/300% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
  }
  .hover-own:hover {
    background-position: left;
    transition: 0.8s;
    color: white;
}

.breadcrumb {
    background-color: transparent;
}

.card-title {
    color: #000;
}

.page-bp {
    background-color: rgb(39 41 42);
    border-radius: 23px;
}


.mb-6 {
    margin-bottom: 6px!important;
}

.nk-decorated-h, .nk-decorated-h-2 {
    display: flex;
}

.nk-decorated-h-2::after, .nk-decorated-h-2::before, .nk-decorated-h::after, .nk-decorated-h::before {
    content: "";
    display: block;
    flex: 100;
    border-bottom: 4px solid;
    transform: translateY(-10px);
}

.nk-post-img img {
    width: 100%;
    height: auto;
    transition: transform .15s ease-in-out;
    transform: scale(1);
    will-change: transform;
    max-width: 650px;
}

.nk-decorated-h-2::before, .nk-decorated-h::before {
    flex: 20px;
    width: 50px;
    min-width: 50px;
    border-bottom-color: white;
    opacity: 80%;
    margin-right: 15px;
}

.nk-decorated-h-2::after, .nk-decorated-h::after {
    border-bottom-color: white;
    opacity: 80%;
    margin-left: 15px;
}

.img-ads {
    max-width: 40px;
}

.nk-post-img {
    display: block;
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .nk-post-img img {
    transition: 0.2s; /* Время эффекта */
    align-items: center;
  }
  .nk-post-img img:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
  }
.ads-contet {
    margin-top: 0;
}

.ad-button {
    color: white;
    background-color: rgb(72, 19, 116);
    border-bottom-color: rgb(72, 19, 116);

}

.white_p {
    color: white;
}

.black {
    color: black;
}

.gold {
    border-color: rgb(204 172 0);
    border-bottom: rgb(204 172 0);
}

.gold-back {
    background-color: rgb(204 172 0);
}

.green_border {
    border-color: green;
}

body .page-content .categories {
    margin-top: 50px;
    background-color: rgb(39 41 42);
    padding: 20px;
    border-radius: 23px;
}

.cat-color {
    background-color: rgb(30 30 30);
    border-radius: 23px; 
}

.blog-color {
    background-color: rgb(39 41 42);
    border: white;
}

.btn-primary:hover .gold {
    color: rgb(255 255 255);
    background-color: rgb(204 172 0);
    border-color: rgb(204 172 0);
}

.card-title {
    color: white;
}

.card-title-gold {
    color: black;
}

.p .card-text {
    color: white;
}

.avatar {
    max-width: 10%;
    max-height: 10%;
}

.profile-avatar {
    border-radius: 23px; 
    max-width: 300px;
    max-height: 300px;
    
}

.comment-avatar {
    max-width: 60px;
    max-height: 60px;
}

.blog-text p {
    color: white;
}


.star-1 {
    border-color: #ff2828;
    color: #ff2828;
}

.star-2 {
    border-color: #d94a22;
    color: #d94a22;
}

.star-3 {
    border-color: #a7771a;
    color: #a7771a;
}

.star-4 {
    border-color: #69b00f;
    color: #69b00f;
}

.star-5 {
    border-color: #3ed808;
    color: #3ed808;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }