<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="description" content="EzServers - Лучший листинг серверов по играм">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="enot" content="2171671910920n0g9IeUxo6d2KDn_JM8iwDMdw1_h32jI" />

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	      rel="stylesheet">
	<title>EzServers | {% block title %} {% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{% static 'res/images/favico/favicon.ico' %}">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'res/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'res/css/style.css' %}">

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/templatemo-cyborg-gaming.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
	<div class="preloader-inner">
		<span class="dot"></span>
		<div class="dots">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<!-- ***** Preloader End ***** -->
{% block header %}
<!-- ***** Header Area Start ***** -->
<header>
	<nav class="container-header navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-xxl">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'res/images/logo (2).png' %}" alt="EzServers" class="d-inline-block">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'blog' %}">Блог</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'gold' %}">GOLD подписка</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'new_Server' %}">Добавить сервер</a>
					</li>
				</ul>
				{% if request.user.is_authenticated %}
				<a class="white_p btn btn-primary" href="{% url 'profile' user %}" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person" viewBox="0 0 16 16">
					<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
					</svg> Профиль
				</a>
				<a class="white_p btn btn-danger ml-3" href="{% url 'logout' %}" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
						<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					</svg> Выход
				</a>
				{% else %}
				<a class="white_p btn btn-primary" href="{% url 'auth' %}" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            			<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            			<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          			</svg> Войти в профиль
				</a>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
<!-- ***** Header Area End ***** -->
{% endblock %}

{% block content %}

{% endblock %}


<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright © 2022 <a href="{% url 'home' %}">EzServers</a> Company. All rights reserved.

					<br>Разработка: <a href="{% url 'home' %}" target="_blank"
					               title="Шаблон был багованный в ноль, украли только картинки, половину шаблона переписали с нуля, так что по сути я">EzServers</a></p>
			</div>
		</div>
	</div>
</footer>
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
	  <div class="toast-header">
		<img src="{% static 'res/images/favico/favicon.ico' %}" class="rounded me-2 notifications-ico" alt="...">
		<strong class="me-auto">EzServers</strong>
		<small>Сейчас</small>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	  </div>
	  <div class="toast-body">
		{{ message }}
	  </div>
	</div>
  </div>
{% endfor %}
{% endif %}
 <script>
	var toastElList = [].slice.call(document.querySelectorAll('.toast'))
	var toastList = toastElList.map(function (toastEl) {
	return new bootstrap.Toast(toastEl, option)
	})
</script>
 {% endblock messages %}
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/tabs.js' %}"></script>
<script src="{% static 'assets/js/popup.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static 'res/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
<script>
    (function ($){
      $.fn.counter = function() {
        const $this = $(this),
        numberFrom = parseInt($this.attr('data-from')),
        numberTo = parseInt($this.attr('data-to')),
        delta = numberTo - numberFrom,
        deltaPositive = delta > 0 ? true : false,
        time = parseInt($this.attr('data-time')),
        changeTime = 10;
        
        let currentNumber = numberFrom,
        value = delta*changeTime/time;
        var interval1;
        const changeNumber = () => {
          currentNumber += value;
          //checks if currentNumber reached numberTo
          (deltaPositive && currentNumber >= numberTo) || (!deltaPositive &&currentNumber<= numberTo) ? currentNumber=numberTo : currentNumber;
          this.text(parseInt(currentNumber));
          currentNumber == numberTo ? clearInterval(interval1) : currentNumber;  
        }
    
        interval1 = setInterval(changeNumber,changeTime);
      }
    }(jQuery));
    
    $(document).ready(function(){
    
      $('.count-up').counter();
      $('.count1').counter();
      $('.count2').counter();
      $('.count3').counter();
      $('.count4').counter();
      
      new WOW().init();
      
      setTimeout(function () {
        $('.count5').counter();
      }, 3000);
    });
</script>

</body>

</html>
