<!doctype html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'res/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'res/css/style.css' %}">

	<title>EzServers | {% block title %} Сервера {% endblock %}</title>
</head>


<body>
{% block content %}
<!-- Навигация -->
<div class="c-nav d-flex container-xxl pt-3">
	<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' color='white' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
	     aria-label="breadcrumb">
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}" class="hover-own">ГЛАВНАЯ</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{% url 'blog' %}" class="hover-own">БЛОГ</a>
			</li>
			<li class="breadcrumb-item deactive">
					<a href="#" class="hover-own">{{ post.blog_title }}</a>
			</li>
		</ul>
	</nav>
</div>

<!-- Контент -->
<div class="container">
	<div class="row">
    	<div class="col-lg-8">
        	<div class="page-content mt-0 p-3">
				<section class="border-bottom mb-4 mt-0">
					<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg"
					  class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
		
					<div class="row align-items-center mb-4">
					  <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="avatar rounded-circle shadow-1-strong me-2"
						  height="35" width="35" alt="" loading="lazy" />
						  <a href="#" class="mr-2">{{ user }}</a>
						<span class="white_p"><u style="text-decoration:None">{{ post.date_published }}</u></span>
					  </div>
		
					  <div class="col-lg-6 text-center text-lg-end">
						<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
						  <i class="fab fa-facebook-f"></i>
						</button>
						<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
						  <i class="fab fa-twitter"></i>
						</button>
						<button type="button" class="btn btn-primary px-3 me-1">
						  <i class="fas fa-comments"></i>
						</button>
					  </div>
					</div>
				</section>
				<section class="mb-5 mt-0 blog-text">
					{{ post.blog_text|safe }}
				</section>

				<section class="border-top">
					<div class="container white_p mt-2">
						<form>
							<div class="mb-3 row">
								<label for="inputName" class="col-4 col-form-label">Ваше имя:</label>
								{% if not user.is_authenticated %}
								<div class="col-8">
									<input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
								</div>
								{% else  %}
								<div class="d-flex col-8 align-items-center">
									{{ user }}
								</div>
								{% endif %}
							</div>
							<fieldset class="mb-3 row">
								<legend class="col-form-legend col-4">Оценка поста:</legend>
								<div class="col-8">
									<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
									  <input type="radio" class="btn-check" name="btnradio" id="btncheck1" autocomplete="off">
									  <label class="btn btn-outline-danger star-1" for="btncheck1">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
											<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
										  </svg>
									  </label>
									
									  <input type="radio" class="btn-check" name="btnradio" id="btncheck2" autocomplete="off">
									  <label class="btn btn-outline-danger star-2" for="btncheck2">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
											<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
										  </svg>
									  </label>
									
									  <input type="radio" class="btn-check" name="btnradio" id="btncheck3" autocomplete="off">
									  <label class="btn btn-outline-warning star-3" for="btncheck3">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
											<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
										  </svg>
									  </label>

									  <input type="radio" class="btn-check" name="btnradio" id="btncheck4" autocomplete="off">
									  <label class="btn btn-outline-success star-4" for="btncheck4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
											<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
										  </svg>
									  </label>

									  <input type="radio" class="btn-check" name="btnradio" id="btncheck5" autocomplete="off">
									  <label class="btn btn-outline-success star-5" for="btncheck5">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
										<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
										</svg>
									  </label>
									</div>
								</div>
							</fieldset>
							<div class="mb-3 row">
							<legend class="col-form-legend col-4">Комментарий:</legend>
								<div class="col-8">
									<textarea class="form-control" name="" id="" rows="3"></textarea>
								</div>
							</div>
							<div class="mb-3 row">
								<div class="offset-sm-4 col-sm-8">
									<button type="submit" class="btn btn-success">Отправить</button>
								</div>
							</div>
						</form>
					</div>
				  </section>
					
				
				  <section class="mt-3 border-top">
					<div class="container white_p p-0 mt-2">
					  <div class="row p-0">
						<div class="col-md-12">
						  <div class="card blog-color">
							<div class="card-body p-4">
							  <h4 class="mb-4">Комментарии</h4>
							  <div class="d-flex flex-start">
								<img class="comment-avatar rounded-circle me-3"
								  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
								  height="60" />
								<div>
								  <h6 class="fw-bold mb-1">{{ user }} <span class="badge bg-secondary ml-2">Обычный</span></h6>
								  <div class="d-flex align-items-center mb-3">
									<p class="mb-0">
									  March 07, 2021
									</p>
								  </div>
								  <p class="mb-0">
									Lorem Ipsum is simply dummy text of the printing and typesetting
									industry. Lorem Ipsum has been the industry's standard dummy text ever
									since the 1500s, when an unknown printer took a galley of type and
									scrambled it.
								  </p>
								</div>
							  </div>
							</div>
				  
							<hr class="my-0" />

							<div class="card-body p-4">
								<div class="d-flex flex-start">
								  <img class="comment-avatar rounded-circle me-3"
									src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
									height="60" />
								  <div>
									<h6 class="fw-bold mb-1">{{ user }} <span class="badge bg-warning ml-2">GOLD участник</span></h6>
									<div class="d-flex align-items-center mb-3">
									  <p class="mb-0">
										March 07, 2021
									  </p>
									</div>
									<p class="mb-0">
									  Lorem Ipsum is simply dummy text of the printing and typesetting
									  industry. Lorem Ipsum has been the industry's standard dummy text ever
									  since the 1500s, when an unknown printer took a galley of type and
									  scrambled it.
									</p>
								  </div>
								</div>
							  </div>
						  </div>
						</div>
					  </div>
					</div>
				  </section>
			</div>
		</div>
		
		<div class="col-lg-4">
			<div class="page-content mt-0 p-0 position-sticky sticky-top">
				<div class="align-items-center text-center pt-4"> 
					<h4 class="nk-widget-title text-center"><span>Категории</span></h4>
				</div>
				<div class="list-group mt-3 p-3 pt-0">
					<ul class="list-group-flush">
						<li class="cat-color">
							<a href="{% url 'servers' 'lineage-2' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/lineage.png' %}" style="max-height: 50px; border-radius: 50%;" alt="Lineage-2">
									</div>
									<div class="col">
									Lineage 2 Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'minecraft' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/minecraft.png' %}" style="max-height: 50px; border-radius: 50%;" alt="Minectaft">
									</div>
									<div class="col">
									Minectaft Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'rust' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/rust.png' %}" style="max-height: 50px; border-radius: 50%;" alt="Rust">
									</div>
									<div class="col">
									Rust Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'cs-go' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/csgo.png' %}" style="max-height: 50px; border-radius: 50%;" alt="csgo">
									</div>
									<div class="col">
									CS-GO Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'world-of-warcraft' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/wow.png' %}" style="max-height: 50px; border-radius: 50%;" alt="WOW">
									</div>
									<div class="col">
									WOW Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'arma-3' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/arma.png' %}" style="max-height: 50px; border-radius: 50%;" alt="ARMA3">
									</div>
									<div class="col">
									ARMA3 Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'dayz' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/dayz.png' %}" style="max-height: 50px; border-radius: 50%;" alt="DAYZ">
									</div>
									<div class="col">
									DAYZ Сервера
									</div>
								</div>
							</a>
						</li>
						<li class="cat-color mt-2">
							<a href="{% url 'servers' 'others' %}" class="cat-color white_p list-group-item list-group-item-action d-flex justify-content-start">
								<div class="row align-items-center">
									<div class="col-lg-3 col-2">
									<img src="{% static 'assets/images/icons/other.png' %}" style="max-height: 50px; border-radius: 50%;" alt="other">
									</div>
									<div class="col">
									Другие Сервера
									</div>
								</div>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="{% static 'res/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
</body>
</html>