<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="ru">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
        {% block title %} Блог {% endblock %}
    </head>

<body>
    {% block header %}
    <header>
        <nav class="container-header navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xxl">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'res/images/logo (2).png' %}" alt="EzServers" class="d-inline-block">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gold' %}">GOLD подписка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new_Server' %}">Добавить сервер</a>
                        </li>
              <li class="nav-item">
                            <a name="" id="" class="nav-link btn btn-primary" href="{% url 'profile' %}" role="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
                  </path>
                  </svg>
                  Профиль</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Введите свой запрос..."
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    {% endblock header %}

    {% block content %}
    <div class="c-nav d-flex container-xxl pt-3">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' color='white' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="hover-own">ГЛАВНАЯ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'blog' %}" class="hover-own">БЛОГ</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-content mt-0 p-0">
                    <div class="row">

                        <div class="row">
                          <div class="col-4">
                            <div class="card">
                              <div class="card-body">
                                <h3 class="card-title">Title</h3>
                                <p class="card-text">Text</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="card">
                              <div class="card-body">
                                <h3 class="card-title">Title</h3>
                                <p class="card-text">Text</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title">Title</h3>
                                  <p class="card-text">Text</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title">Title</h3>
                                  <p class="card-text">Text</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
    {% endblock content %}