<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">

  <head>

    {% block title %} Сервера {% endblock %}

  </head>

<body>


  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Открытые</em> сервера</h4>
                </div>
                <div class="owl-features owl-carousel">
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-01.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>CS-GO<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-02.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Gamezer<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-03.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Island Rusty<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-01.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>CS-GO<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-02.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Gamezer<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                  <div class="item">
                    <div class="thumb">
                      <img src="assets/images/featured-03.jpg" alt="">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>Island Rusty<br><span>249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> 4.8</li>
                      <li><i class="fa fa-download"></i> 2.3M</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="top-downloaded">
                <div class="heading-section">
                  <h4><em>Топовые</em> сервера</h4>
                </div>
                <ul>
                  <li>
                    <img src="assets/images/game-01.jpg" alt="" class="templatemo-item">
                    <h4>Lineage 2 Euro-PVP x3</h4>
                    <h6>Online</h6>
                    <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                    <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                    <div class="download">
                      <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/game-02.jpg" alt="" class="templatemo-item">
                    <h4>Rust Dungeon Master x1</h4>
                    <h6>Online</h6>
                    <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                    <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                    <div class="download">
                      <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/game-03.jpg" alt="" class="templatemo-item">
                    <h4>Minecraft </h4>
                    <h6>Online</h6>
                    <span><i class="fa fa-star" style="color: yellow;"></i> 4.9</span>
                    <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                    <div class="download">
                      <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                  </li>
                </ul>
                <div class="text-button">
                  <a href="profile.html">View All Games</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

          <!-- ***** Сервера Реклама ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game }}</em> лучшие сервера</h4>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Lineage 2 Interlude</h4><span>Euro-PVP</span></li>
                  <li><h4>Дата открытия</h4><span>01/03/2002</span></li>
                  <li><h4>Текущий онлайн</h4><span>55555/10000</span></li>
                  <li><h4>Рейты</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Сайт</a></div></li>
                </ul>
              </div>

              <div class="item last-item">
                <ul>
                  <li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Lineage 2 Freya</h4><span>Server-Name</span></li>
                  <li><h4>Дата открытия</h4><span>01/12/2023</span></li>
                  <li><h4>Текущий онлайн</h4><span>0/0</span></li>
                  <li><h4>Рейты</h4><span>Х1, X2, X3, X4</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Сайт</a></div></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- ***** Сервера реклама энд ***** -->

          <!-- ***** Сервера список ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game }}</em> все сервера</h4>
                  {% endif %}
                {% endfor %}
              </div>
              {% for server in server_list %}
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>{{ server.name }}</h4><span>{{ server.online_game }}</span></li>
                  <li><h4>Дата открытия</h4><span>{{ server.server_open }}</span></li>
                  <li><h4>Текущий онлайн</h4><span>{{ server.current_online }}/{{ server.max_online }}</span></li>
                  <li><h4>Рейты</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Online</a></div></li>
                </ul>
              </div>
<!--              {% if forloop.last %}-->
<!--              <div class="item last-item">-->
<!--                <ul>-->
<!--                  <li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>-->
<!--                  <li><h4>{{ server.online_game }}</h4><span>{{ server.name }}</span></li>-->
<!--                  <li><h4>Дата открытия</h4><span>{{ server.server_open }}</span></li>-->
<!--                  <li><h4>Текущий онлайн</h4><span>{{ server.current_online }}/{{ server.max_online }}</span></li>-->
<!--                  <li><h4>Рейты</h4><span>Х1, X2, X3, X4</span></li>-->
<!--                  <li><div class="main-border-button border-no-active"><a href="#">Offline</a></div></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              {% endif %}-->
              {% endfor %}

            </div>

          </div>
          <!-- ***** Сервера список энд ***** -->

          <!-- ***** Сервера скоро открытие ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game.name }}</em> скоро открытие</h4>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Lineage 2 Interlude</h4><span>Euro-PVP</span></li>
                  <li><h4>Дата открытия</h4><span>01/03/2002</span></li>
                  <li><h4>Текущий онлайн</h4><span>55555/10000</span></li>
                  <li><h4>Рейты</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Online</a></div></li>
                </ul>
              </div>

              <div class="item last-item">
                <ul>
                  <li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Lineage 2 Freya</h4><span>Server-Name</span></li>
                  <li><h4>Дата открытия</h4><span>01/12/2023</span></li>
                  <li><h4>Текущий онлайн</h4><span>0/0</span></li>
                  <li><h4>Рейты</h4><span>Х1, X2, X3, X4</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Offline</a></div></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- ***** Сервера скоро открытие ***** -->







        </div>
      </div>
    </div>
  </div>
  {% endblock %}


  </body>

</html>
