<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">

  <head>

    {% block title %} Сервера {% endblock %}

  </head>

<body>


  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

<!--          &lt;!&ndash; ***** Featured Games Start ***** &ndash;&gt;-->
<!--          <div class="row">-->
<!--            <div class="col-lg-8">-->
<!--              <div class="featured-games header-text">-->
<!--                 <div class="col-lg-4">-->
<!--                  <div class="top-downloaded">-->
<!--                    <div class="heading-section">-->
<!--                      {% for name in server_list %}-->
<!--                        {% if forloop.counter == 1 %}-->
<!--                      <h4><em>{{ name.online_game }}</em> VIP сервера 💎</h4>-->
<!--                        {% endif %}-->
<!--                      {% endfor %}-->
<!--                    </div>-->
<!--                {% for ad in ads %}-->
<!--                    {% if ad.top_vip %}-->
<!--                    <div class="row">-->
<!--                      <ul>-->
<!--                          <li style="display: flex;align-items: center;">-->
<!--                            <div style="width: 30%;">-->
<!--                              <h4>{{ ad.server.online_game }} </h4>-->
<!--                              <h4> {{ ad.server.name }} 💎💎</h4>-->
<!--                              <h6>Online {{ ad.server.current_online }}/{{ ad.server.max_online }}</h6>-->
<!--                            </div>-->
<!--                            <div style="width: 400px;max-height: 230px;height: 120px;display: flex;align-items: center;justify-content: center;">-->
<!--                                <a href="#"><img src="{% static 'assets/images/giphy.gif' %}" alt="" style="display: block;max-width: 255px;border-radius: 30px;"></a>-->
<!--                              </div>-->
<!--                            <div class="row" style="display: flex;">-->
<!--                              <h4>Рейты</h4><span>X1, X2, X10000</span>-->
<!--                            </div>-->
<!--                            <div class="main-border-button border-active"><a href="#">Online</a></div>-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                      {% endif %}-->
<!--                    {% endfor %}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          &lt;!&ndash; ***** Featured Games End ***** &ndash;&gt;-->

          <!-- ***** Топ сервера  ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game }}</em> VIP сервера💎</h4>
                  {% endif %}
                {% endfor %}
              </div>
              {% for ad in ads %}
                {% if ad.top_vip %}
              <div class="item">
                <ul>
                  <li><img src="{% static 'assets/images/giphy.gif' %}" alt="" class="templatemo-item-ad"></li>
                  <li><h4>{{ ad.server.name }}💎💎</h4><span>{{ ad.server.online_game }}</span></li>
                  <li><h4>Дата открытия</h4><span>{{ ad.server.server_open }}</span></li>
                  <li><h4>Текущий онлайн</h4><span>{{ ad.server.current_online }}/{{ ad.server.max_online }}</span></li>
                  <li><h4>Характеристики</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Online</a></div></li>
                </ul>
              </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <!-- ***** Топ сервера  ***** -->


          <!-- ***** Сервера Реклама ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game }}</em> лучшие сервера🔥</h4>
                  {% endif %}
                {% endfor %}
              </div>
              {% for ad in ads %}
                {% if ad.vip %}
              <div class="item">
                <ul>
                  <li><img src="{% static 'assets/images/game-01.jpg' %}" alt="" class="templatemo-item"></li>
                  <li><h4>{{ ad.server.name }}🔥🔥</h4><span>{{ ad.server.online_game }}</span></li>
                  <li><h4>Дата открытия</h4><span>{{ ad.server.server_open }}</span></li>
                  <li><h4>Текущий онлайн</h4><span>{{ ad.server.current_online }}/{{ ad.server.max_online }}</span></li>
                  <li><h4>Характеристики</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Online</a></div></li>
                </ul>
              </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <!-- ***** Сервера реклама энд ***** -->

          <!-- ***** Сервера список ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game }}</em> все сервера</h4>
                  {% endif %}
                {% endfor %}
              </div>
              {% for server in server_list %}
                {% if server.state == 'Open' %}
              <div class="item">
                <ul>
                  <li><img src="{{ server.server_ico.url }}" alt="No Logo" class="templatemo-item"></li>
                  <li><h4>{{ server.name }}</h4><span>{{ server.online_game }}</span></li>
                  <li><h4>Дата открытия</h4><span>{{ server.server_open }}</span></li>
                  <li><h4>Текущий онлайн</h4><span>{{ server.current_online }}/{{ server.max_online }}</span></li>
                  <li><h4>Характеристики</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-active"><a href="#">Online</a></div></li>
                </ul>
              </div>
                {% endif %}
              {% endfor %}

            </div>

          </div>
          <!-- ***** Сервера список энд ***** -->

          <!-- ***** Сервера скоро открытие ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                {% for name in server_list %}
                  {% if forloop.counter == 1 %}
                <h4><em>{{ name.online_game.name }}</em> скоро открытие</h4>
                  {% endif %}
                {% endfor %}
              </div>
              {% for server in server_list %}
                {% if server.state == 'New' %}
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>{{ server.name }}</h4><span>{{ server.online_game }}</span></li>
                  <li><h4>Дата открытия</h4><span>{{ server.server_open }}</span></li>
                  <li><h4>Текущий онлайн</h4><span>{{ server.current_online }}/{{ server.max_online }}</span></li>
                  <li><h4>Характеристики</h4><span>X1, X2, X10000</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Offline</a></div></li>
                </ul>
              </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
          <!-- ***** Сервера скоро открытие ***** -->







        </div>
      </div>
    </div>
  </div>
  {% endblock %}


  </body>

</html>
