<!doctype html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'res/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'res/css/style.css' %}">

	<title>EzServers | {% block title %} Сервера {% endblock %}</title>
</head>


<body>
{% block content %}
<!-- Навигация -->
<div class="c-nav d-flex container-xxl pt-3">
	<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' color='white' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
	     aria-label="breadcrumb">
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#" class="hover-own">ГЛАВНАЯ</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#" class="hover-own">СЕРВЕРА</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="" class="hover-own">Lineage 2</a>
			</li>
		</ul>
	</nav>
</div>

<!-- Контент -->
{% for server in server_list %}
<div class="d-flex container-xxl pt-2 page-bp">
	<div class="nk-blog-post">
		<div class="row vertical-gap">
			<div class="col-12 pt-20">
				<h2 class="nk-post-title h4 mb-6">
					<a href="#">
						★ {{ server.name }}
					</a>
				</h2>
				<a href="https://www.top100arena.com/banner/2420" class="nk-post-img mb-6">
				<img src="https://www.top100arena.com/storage/fixedbanners/Ln86yUixcyP32hA9mDdRmGW5EBOzHuOlO1uSo758.gif" alt="★ BEST SERVER - INTERLUDE X50 - 2ND DECEMBER!">
				</a>
				<div class="nk-post-text">
					<p>The best server for solo players! Cash race at the start with a prize pool of $1,500! Go to our discord - https://discord.gg/5d2w7UVpbp
					<a href="https://www.top100arena.com/banner/2420"><strong>Visit</strong></a>
					</p>
					</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="{% static 'res/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
</body>
</html>