<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    

    {% block title %} Сервера {% endblock %}

<!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
  </head>

<body>

{% block header %}
<!-- ***** Header Area Start ***** -->
<header>
	<nav class="container-header navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-xxl">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'res/images/logo (2).png' %}" alt="EzServers" class="d-inline-block">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'blog' %}">Блог</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'gold' %}">GOLD подписка</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'new_Server' %}">Добавить сервер</a>
					</li>
          <li class="nav-item">
						<a name="" id="" class="nav-link btn btn-primary" href="{% url 'profile' user.username %}" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
              </path>
              </svg>
              Профиль</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Введите свой запрос..."
					       aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Поиск</button>
				</form>
			</div>
		</div>
	</nav>
</header>
<!-- ***** Header Area End ***** -->
{% endblock %}


    {% block content %}

    <div class="container mt-5">

      <a name="ads" id="buy_ads" class="btn mt-2 btn-secondary" href="https://t.me/GrekF3" role="button">Купить рекламу</a>
      <a name="contact" id="contact" class="btn mt-2 btn-secondary" href="https://t.me/GrekF3" role="button">Связаться</a>
      <a name="gold_status" id="gold_status" class="btn mt-2 btn-warning" href="{% url 'gold' %}" role="button">GOLD подписка</a>
      <form class="was-validated" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="mb-2 mt-4">
          {{ game_server_form.online_game }}
          <div class="invalid-feedback">Пожалуйста выберите игру</div>
        </div>
        <div class="mb-2 mt-4">
          {{ game_server_form.name }}
          <div class="invalid-feedback">Название Вашего сервера</div>
        </div>
        <div class="mb-2">
          {{ game_server_form.server_banner }}
          <div class="invalid-feedback">GIF-изображение должно быть максимум 728х90 px</div>
        </div>
        <div class="mb-2">
          {{ game_server_form.server_site }}
          <div class="invalid-feedback">Ссылка на Ваш сайт в формате "www."</div>
        </div>
        <div class="mb-2">
          {{ game_server_form.description }}
          <div class="invalid-feedback">Описание сервера</div>
        </div>
        <h4> Первые 3 сервера - бесплатно. </h2>
        <h4> Модерация серверов - в течении 3-х дней </h4>
        <div class="mb-3 mt-3">
          <button class="btn btn-success" type="submit">Отправить</button>
        </div>
      </form>
    </div>
    <script>
			window.onload = (event) => {
        let myAlert = document.querySelector('.toast');
        let bsAlert = new bootstrap.Toast(myAlert);
        bsAlert.show();
      }
		</script>
    {% endblock %}
  </div>
  </body>
</html>
