<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">

  <head>
    {% block title %} {{ profile.user }} {% endblock title %} 
  </head>

<body>
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    {% if profile.avatar.url != None %}
                    <img src="{{ profile.avatar.url }}" alt="Profile_img" class="profile-avatar">
                    {% else %}
                    <img src="{% static 'assets/images/def_ava.jpeg' %}" alt="Profile_img" class="profile-avatar">
                    {% endif %}
                  </div>
                  <div class="col-lg-4 align-self-center gold">
                    <div class="main-info header-text">
                      {% if profile.user.is_staff %}
                      <span class="badge bg-primary"><b>Администратор</b></span>
                      
                      {% elif profile.get_user_status == 'GOLD подписчик' %}
                      <span class="badge bg-warning"><b>{{ profile.get_user_status }}</b></span>
                      {% else %}
                      <span class="badge bg-secondary"><b>{{ profile.get_user_status }}</b></span>
                      {% endif %}

                      <h4>{{ profile.user }}</h4>
                      <p>{{ profile.bio }}</p>
                      {% if not request.user.is_authenticated %}
                      {% else %}
                      {% if profile.link == request.user.username %}
                      {% else %}
                        {% if request.user not in profile.followers.all %}
                        <div class="main-border-button">
                          <a href="{% url 'sub' profile.user %}">Подписаться</a>
                        </div>
                        {% else %}
                        <div class="main-border-button aria-disabled="true"">
                          <a href="" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Вы подписаны</a>
                        </div>
                        {% endif %}
                      {% endif %}
                      {% endif %}
                    </div>
                    </form>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Посты <span>{{ posts_count }}</span></li>
                      <li>Подписчики <span>{{ profile.all_folowers }}</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4>Опубликованные посты</h4>
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="row">
                          {% if posts %}
                          {% for post in posts %}
                          <div class="col-md-3">
                            <div class="item">
                              <div class="thumb">
                                <img src="{{ post.blog_image.url }}" alt="" style="border-radius: 23px;">
                                <a href="{{ post.get_absolute_url }}" target="_blank"><i class="fa fa-podcast"></i></a>
                              </div>
                              <div class="down-content">
                                <a href="{{ post.get_absolute_url }}"><h4>{{ post.blog_title }}</h4></a>
                                <span><i class="fa fa-eye"></i> {{ post.total_views }}</span>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% else %}
                          <div>
                              <p>Нет опубликованных постов</p>
                          </div>
                          {% endif %}
                        </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% if profile.link == request.user.username %}
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4>Редактировать профиль</h4>
                            {% if messages %}
                              {% for message in messages %}
                                {% if message.tags == 'error' %}
                                  <div class="alert alert-danger mb-5" role="alert">
                                    {{ message }}
                                  </div>
                                {% else %}
                                  <div class="alert alert-success mb-5" role="alert">
                                    {{ message }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="container white_p p-0">
                            <form class="row g-3 needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                              {% csrf_token %}
                              <div class="col-md-4 position-relative">
                                <label for="validationTooltip01" class="form-label">Имя</label>
                                {{ user_form.first_name }}
                              </div>
                              <div class="col-md-4 position-relative">
                                <label for="validationTooltip02" class="form-label">Фамилия</label>
                                {{ user_form.last_name }}
                              </div>
                              <div class="col-md-4 position-relative">
                                <label for="validationTooltipUsername" class="form-label">Никнейм</label>
                                <div class="input-group has-validation">
                                  <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                  {{ user_form.username }}
                                </div>
                              </div>
                              <div class="col-md-4 position-relative">
                                <label for="validationTooltip03" class="form-label">Статус</label>
                                <div class="input-group has-validation">
                                  {{ profile_form.bio }}
                                  <div class="valid-tooltip">
                                    Отличный статус!
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-4 position-relative">
                                <label for="validationTooltip03" class="form-label">Почта</label>
                                <div class="input-group has-validation">
                                  {{ user_form.email }}
                                </div>
                              </div>

                              <div class="col-md-4 position-relative">
                                <label for="formFile" class="form-label">Изображение профиля</label>
                                {{ profile_form.avatar }}
                              </div>                        
                              
                              <div class="col-12">
                                <button class="btn btn-success" type="submit">Отправить</button>
                              </div>
                              <div class="col-12">
                                <a name="Change-password" id="Change-password" class="btn btn-danger" href="{% url 'password_change' %}" role="button">Изменить пароль</a>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
  </body>
  
  {% block messages %}

  {% endblock messages %}

</html>
