<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
<html lang="en">

  <head>
    {% block title %} Профиль {{ user }} {% endblock title %} 
  </head>

<body>
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{% static 'assets/images/profile.jpg' %}" alt="Profile_img" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center gold">
                    <div class="main-info header-text">
                      <span><b>GOLD подписка</b></span>
                      <h4>{{ user }}</h4>
                      <p>Какой-то статус</p>
                      <div class="main-border-button">
                        <a href="{% url 'new_Server' %}">Подписаться</a>
                      </div>
                      <div class="main-border-button">
                        <a href="{% url 'new_Server' %}">Редактировать профиль</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Посты <span>0</span></li>
                      <li>Подписчики <span>0</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4>Опубликованные посты</h4>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img src="assets/images/clip-01.jpg" alt="" style="border-radius: 23px;">
                              <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>Название поста</h4>
                              <span><i class="fa fa-eye"></i> 0</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
  </body>

</html>
